.cadastro{
    position: relative;
    margin-top: 60px;
	margin-bottom: 60px;
    text-align: center;
	justify-content: center;
}
.cadastro > .formulario{
    display: inline-block;
    max-width: 400px;
    width: 80%;
	box-shadow: 1px  2px 1px 2px #cccccc;
}
.cadastro > .formulario > form > h3{
	position: relative;
	font-size: 25px;
    margin-bottom: 10px;
    padding-top: 20px;
}
.cadastro > .formulario > form > label{
	padding: 10px 7px;
	border-radius: 7px;
	border:0.2px solid;
	width: 80%;
	border-color: #595464;
}
.cadastro > .formulario > form > label:nth-of-type(6){
	margin: 0;
	padding: 0;
	border: none;
}

.cadastro > .formulario > form > label >input{
	border: none;
	width: inherit;
	padding: 10px 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
}

.cadastro > .formulario > form > label >input:focus{
	outline: none;
}
.cadastro > .formulario > form > label >input[type=checkbox]{
	width: min-content;
}
.cadastro > .formulario > form > button{
	position: relative;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
    color: white;
    font-weight: bolder;
	width: 170px;
    height: 46px;
    background-image: linear-gradient(to right,#a71aeb, #317beb);
    border: 1px solid;
    border-radius: 8px;
}