.rodape{
    position: relative;
    width: 100%;
    bottom: 0px;
    background-size: 100%;
    text-align: center;
    background-color: rgb(70, 53, 85);
    color: #ffffff;
    font-family: 'Roboto';
}
.rodape > .info{
    padding-top: 10px;
}
.rodape > .info > h3{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    color:  #ffffff;
}
.rodape > .info > p{
    text-align: center;
    top: 100px;
    font-size: 15px;
    color:  #ffffff;
}
.rodape > #linha{
    padding-bottom: 20px;
}
.rodape > #linha > hr{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    left: 5%;
    width: 90%;
    border-color:  #ffffff;
}
.rodape > .detalhes{
    display: inline-block;
}
.rodape > .detalhes > #redes-sociais{
    position: absolute;
    right: 10px;
    bottom: 5px;
}
.rodape > .detalhes > #redes-sociais > a > #twitter{
    color: cyan;
}
.rodape > .detalhes > #redes-sociais > a > #facebook{
    color: blue;
}
.rodape > .detalhes > #redes-sociais > a > #instagram{
    color: salmon;
}
.rodape > .detalhes > i{
    position: absolute;
    left: 5px;
    bottom: 5px;
}