*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
}
.conteudo-header{
    padding: 10px 0;
    background-color: #1F2861;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.imagem > a > .logo{
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    width: 189px;
    height: 60px;
}
.navegacao{
    display: inline;
}
.navegacao > i{
    display: none;
}
.navegacao > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navegacao > ul > li{
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
}
.navegacao > ul > li:nth-of-type(3){
    border: none;
    color: #ffffff;
}
.navegacao > ul > li > a{
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
}
.navegacao  > ul > li:hover{
    cursor: pointer;
}

@media (max-width: 941px){
    .navegacao > i{
        display: inline;
        margin-right: 10px;
        color: #ffffff;
    }
    .navegacao > ul {
        flex-direction: column;
        display: none;

    }
    .navegacao > ul > li{
        width: 100vw;
        text-align: center;
        border: none;
        width: 100%;
        display: inline-block;
    }
}