*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 0 1px 0 #cccccc;
    background-size: 100%;
    background-color: #292a57;
}
.imagem > a > .logo{
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    width: 200px;
    height: 90px;
}
.imagem > a > .logo-mobile{
    display: none;
}
.navegacao > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navegacao > ul > li{
    justify-content: center;
    align-items: center;
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
    border-right: 2px solid; 
    border-color: #606d7a;
}
.navegacao > ul > li > a{
    font-weight: bolder;
    color: #5a6b7c;
    text-decoration: none;
}
.navegacao  > ul > li:hover{
    font-size: 15px;
    transition-duration: 0.1s;
    cursor: pointer;
}
.navegacao > ul > li > img{
    display: block;
    width: 50px;
    height: 50px;
}

@media (max-width: 941px){
    .navegacao > i{
        display:block;
        color: #2C3E50;
    }
    .navegacao > ul {
        display: none;
    }
}