body{
	background-color: #261347;
}
.login{
	top: 80px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login > .formulario{
	text-align: center;
    max-width: 400px;
	width: 80%;
}
.login > .formulario > form > h3{
	font-family: 'Roboto';
	position: relative;
	font-size: 30px;
    margin-bottom: 10px;
	padding-top: 20px;
	color: #ffffff;
}
.login > .formulario > form > label{
	padding: 10px 7px;
	border-radius: 7px;
	border: 1px solid;
	width: 80%;
	border-color: #ffffff;
}
.login > .formulario > form > label > input{
	width: inherit;
	padding: 10px 7px;
	border: none;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	background-color: transparent;
	color: #ffffff;
}
.login > .formulario > form > label > input:focus{
	outline: none;
}
.login > .formulario > form >  #novasenha{
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 13px;
	text-decoration: none;
}
.login > .formulario > form > label:nth-of-type(3){
	margin: 10px;
	padding: 10px 0;
	border: none;
	text-align: right;
}
.login > .formulario > form > label > #novasenha{
	width: inherit;
	display: inline-block;
}
.login > .formulario > form > label:nth-of-type(4){
	margin: 0;
	padding: 0;
	border: none;
	color: #ffffff;
}
.login > .formulario > form > label > input[type=checkbox]{
	justify-content: left;
	width: min-content;
}
.login > .formulario > form > label > i{
	color: #ffffff;
}
.login > .formulario > form > button{
	position: relative;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
    color: white;
    font-weight: bolder;
    width: 80%;
    height: 46px;
	background-image: linear-gradient(to right,#f44336,#e91e63);
	border:none;
    border-radius: 7px;
}
.login > .formulario > p > a{
	color: cyan;
	text-decoration: none;
}
.login > .formulario > form > span,
.login > .formulario > p,
.login > .formulario > form > label > a{
	color: #ffffff;
}
.msg-erro{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	height: 25px;
    max-width: 350px;
    width: 80%;
	margin-top: 10px;
	padding-top: 2.5px;
	top: 110px;
	background-color: rgba(230, 22, 22, 0.6);
	border: 1px solid rgb(162,42,42,0.5);
	border-radius: 2px;
	color: #ffffff;
}