.login{
    position: relative;
	margin: 60px 0;
	text-align: center;
}
.login > .formulario{
    display: inline-block;
    max-width: 400px;
	width: 80%;
	box-shadow: 1px  2px 1px 2px #cccccc;
}
.login > .formulario > form > h3{
	position: relative;
	font-size: 25px;
    margin-bottom: 10px;
    padding-top: 20px;
}
.login > .formulario > form > label{
	padding: 10px 7px;
	border-radius: 7px;
	border:0.2px solid;
	width: 80%;
	border-color: #595464;
}
.login > .formulario > form > label > input{
	width: inherit;
	padding: 10px 7px;
	border: none;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
}
.login > .formulario > form > label >input:focus{
	outline: none;
}
.login > .formulario > form >  a{
	position: relative;
	font-size: 13px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.login > .formulario > form > label:nth-of-type(3){
	margin: 0;
	padding: 0;
	border: none;
}
.login > .formulario > form > label > input[type=checkbox]{
	justify-content: left;
	width: min-content;
}
.login > .formulario > form > button{
	position: relative;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
    color: white;
    font-weight: bolder;
    width: 170px;
    height: 46px;
	background-image: linear-gradient(to right,#a71aeb, #317beb);
	border:none;
    border-radius: 7px;
}
.login > .formulario > a > button{
	position: relative;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
    color: white;
    font-weight: bolder;
	width: 170px;
    height: 46px;
    background-image: linear-gradient(to right,#a71aeb, #317beb);
    border: 1px solid;
    border-radius: 8px;
}