body{
    display: grid;
}
.conteudo{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 80px auto;
    grid-template-areas: "header header" "menu notas";
    height: 100%;
}
.conteudo-header{
    grid-area: header;
    position: fixed;
}
.pesquisa{
    width: 30vw;
}
.pesquisa > form{
    height: 100%;
    width: auto;
}
.pesquisa > form > label{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    align-items: center;
    width: 100%;
    border-color: #ffffff;
}
.pesquisa > form > label > input{
    background-color: #ffffff;
    border-radius: 7px;
    border: 1px solid;
	padding: 10px 7px;
    font-size: 15px;
    width: 80%;
    margin-right: 8px;
    color: black;
    display: inline;
}
.pesquisa > form > label > button{
    display: inline;
    background-color: transparent;
    border-style: none;
}
.pesquisa > form > label > button > i{
    color: #ffffff;
}
.menu{
    height: 100%;
    width: 50px;
    top: 80px;
    position: fixed;
    grid-area: menu;
    background-color: #261347;
    justify-content: center;
    padding: 40px 0;
}
.botoes-menu{
    height: 200px;
    background-color: #261347;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.botoes-menu > a{
    cursor: pointer;
    height:15.45px;
}
.botoes-menu > a > li,
.classificador > li{
    color: white;
    margin-bottom: 20px;
    list-style-type: none;
}
.notas{
    grid-area: notas;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notas > p{
    text-align: center;
    font-family: monospace;
    color: black;
    font-size: 50px;
    width: 100%;
}
.marcador-nota{
    display: none;
    z-index:9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    position: fixed;
    width: 360px;
    height: 250px;
    text-align: center;
    border-radius: 5%;
    animation: surgir;
    animation-duration: 800ms;
}
.close-marcador{
    cursor: pointer;
    float: right;
    width: 30px;
    height: 30px;
}
.adicionar-marcador{
    clear: both;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.adicionar-marcador > form > input[type="text"]{
    width: 80%;
    height: 40px;
    border-radius: 2px;
    padding: 4px 2px;
    border: 1px solid #cccccc;
    margin-bottom:  20px;
    outline-style: none;
}
.adicionar-marcador > form > input[type="submit"]{
    cursor: pointer;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(15, 195, 39);
    color: #ffffff;
    font-weight: bold;
    border-style: none;
    outline-style: none;
}
.notas > label{
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.notas > label > fieldset{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    border: 1px solid rgba(49, 49, 165, 0.281);
    background-color: #fdfdfd;
    box-shadow: 10px 5px 5px #cccccc;
}
.configuracoes-notas{
    height: inherit;
    background-color: #ffffff;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.configuracoes-notas > i{
    cursor: pointer;
}
.configuracoes-notas > i:nth-of-type(1){
    color: #2e2b2b88;
}
.configuracoes-notas > i:nth-of-type(2){
   color: rgb(230, 66, 66);
}
.notas > label >fieldset > .orgNotas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 95%;
    height: 95%;
}

.notas > label > fieldset > legend{
    cursor: pointer;
    margin-top: 10px;
    padding: 0 10px;
    font-size: 20pt;
    font-family: fantasy;
    font-style: oblique;
}
.resultado-pesquisa{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.resultado-pesquisa > .nota{
    display: inline-block;
    min-width: 200px;
    width: 300px;
    height: 200px;
}
.example, .nota{
    cursor: pointer;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 100px;
}
.nota{
    background-color: rgb(63, 185, 94);
}
.adicionar_nota:hover{
    background-color: #cccccc;
}
.adicionar_nota > i{
    clear: both;
    cursor: pointer;
    color: rgb(47, 39, 39);
}
.adicionar_nota > i:hover{
    cursor: pointer;
}
.opcao-marcador,
.opcao-nota{
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    z-index: 9999;
    min-width: 300px;
    width: 30%;
    height: 40%;
    background-color: #ffffff;
    animation: surgir;
}
.janelaNotaExpandir,
.janelaNotaExcluir{
    padding: 20px 8px;
    box-shadow: 10px 5px 5px 3px #cccccc;
    flex-direction: column;
    width: 50%;
    min-width: 400px;
    display: flex;
    z-index: 9999;
    background-color: #ffffff;
    animation: surgir;
    animation-duration: 800ms;
}
.janelaAddNota{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    z-index: 9999;
    width: 50%;
    min-width: 300px;
    height: auto;
    background-color: #ffffff;
    animation: surgir;
    animation-duration: 800ms;
}
.janelaNotaExcluir > form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.janelaNotaExpandir > form,
.janelaAddNota > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.janelaNotaExcluir > form > .inp{
    display: flex;
    flex-direction: column;
}
.janelaNotaExcluir > form > .msg{
    display: block;
}
.janelaNotaExpandir > form > input,
.janelaNotaExcluir > form > .inp > input,
.janelaAddNota > form > input{
    display: inline-block;
}
.janelaNotaExpandir > form > #titulo{
    text-transform: uppercase;
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 23pt;
    margin: 10px 0;
    width: 90%;
    padding: 8px;
    border: none;
}
.janelaAddNota > form > #titulo{
    text-transform: uppercase;
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 14pt;
    margin: 10px 0;
    width: 90%;
    padding: 8px;
    border: none;
}
.janelaNotaExpandir > form > #titulo:focus{
    text-transform: none;
    text-align: left;
    font-size: 14pt;
}
.janelaNotaExpandir > form > #descricao,
.janelaAddNota > form > #descricao{
    text-align: justify;
    font-family: cursive;
    font-size: 13pt;
    width: 90%;
    height: auto;
    resize: none;
}
.janelaNotaExpandir > form > #descricao:focus{
    font-size: 14pt;
}
.janelaAddNota > form > #idMarc{
    display: none;
}
.opcao-marcador > form,
.opcao-nota > form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.opcao-marcador > form > button,
.opcao-nota > form > button{
    margin: 5px 5px;
    padding: 20px 20px;
    cursor: pointer;
    width: 100;
    height: 60px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    border-style: none;
    outline-style: none;
}
.opcao-marcador > form > button:nth-of-type(1),
.opcao-nota > form > button:nth-of-type(1){
    background-color: rgb(15, 195, 39);
}
.opcao-marcador > form > button:nth-of-type(2),
.opcao-nota > form > button:nth-of-type(2){
    background-color:rgb(195, 21, 15);
}

.janelaNotaExpandir > form > input[type="submit"],
.janelaNotaExcluir > form > .inp > input[type="submit"],
.janelaAddNota > form > input[type="submit"]{
    margin: 5px 5px;
    align-self: flex-end;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(15, 195, 39);
    color: #ffffff;
    font-weight: bold;
    border-style: none;
    outline-style: none;
}
.fecharOp,
.fecharMarc{
    flex-direction: row;
    width: 30px;
    height: 30px;
    cursor: pointer;
    justify-self: flex-end;
    display: inline-block;
}
.notaExpandirFalse{
    width: 30px;
    height: 30px;
    display: inline-flex;
    cursor: pointer;
    justify-self: flex-end;
}
.janelaAddNotaFalse{
    cursor: pointer;
    float: right;
    width: 30px;
    height: 30px;
}
.arquivos{
    border: 2px solid black;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 150px;
    overflow: auto;
}
.arquivos > .arq{
    border: 2px solid black;
    justify-items: center;
    margin: 5px;
    padding-top: 2px;
    width: 120px;
    height: 135px;
    text-align: center;
}
.arquivos > .arq > p{
    margin: 2px 0;
    padding: 0;
}
.arquivos > .arq > form > button{
    margin: 2.5px 0;
}
.arquivos > .arq > form > button > a{
    text-decoration: none;
}
@keyframes surgir{
    from{opacity: 1;}
    from{opacity: 0;}
}

@media (max-width: 941px){
    .pesquisa{
        width: 300px;
    }
    .conteudo-header > .imagem{
        display: none;
    }
    .navegacao {
        flex-direction: row-reverse;
        display: none;

    }
    .conteudo-header > label{
        font-size: 50px;
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
        color: #ffffff;
    }
    #toggle:checked ~ .navegacao{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #261347;
     }
}