.formulario{
    background-color: #fff;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formulario > form{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario > form > h3{
    margin: 30px 0;
    font-size: 30px;
}
.user-img,
.user-avatar{
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.photo >  i{
    color: #ffffff;
    z-index: 2000;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.user-avatar > label,
.user-img > label{
    width: inherit;
    height: inherit;
    background-size: cover;
}
.user-avatar > label > img,
.user-img > label > img{
    cursor: pointer;
    width: inherit;
    height: inherit;
    background-size: cover;
    border-radius: 50%;
}
.user-img > label> input,
.user-avatar > label> input{
    display: none;
}
.formulario > form > input[type='file']{
    display: none;
}
.formulario > form > input{
    width: inherit;
	padding: 10px 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
	background-color: transparent;
    color: black;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 7px;
}
.formulario > form > button{
    align-self: center;
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bolder;
    width: 170px;
    height: 46px;
    background-color: #f65a00;
    border: 1px solid;
    border-radius: 10px;
}
#msg-sucesso{
	text-align: center;
    max-width: 350px;
    width: 80%;
	margin-top: 10px;
	padding-top: 2.5px;
	background-color: rgba(57, 207, 11, 0.25);
	border: 1px solid rgb(34,139,34);
	border-radius: 2px;
	color: #ffffff;
}
.msg-erro{
	text-align: center;
    max-width: 350px;
    width: 80%;
	margin-top: 10px;
	padding-top: 2.5px;
	background-color: rgba(230, 22, 22, 0.25);
	border: 1px solid rgb(162,42,42,0.5);
	border-radius: 2px;
	color: #ffffff;
}