.labels{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.labels > #titulo{
	position: relative;
	margin-top: 60px;
	margin-bottom: 70px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 100%;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Roboto';
	color: purple;
}
.labels > .dois > .img{
	order: 2;
}
.labels > .quatro > .img{
	order: 2;
}
.labels > .conteudo{
	position: relative;
	margin-bottom: 60px;
	padding: 20px 20px 20px 20px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.labels > .conteudo > .img{
	position: relative;
	margin-left: 1.5%;
	margin-right: 1.5%;
	height: 300px;
	width: 400px;
	text-align: center;
}
.labels > .conteudo > .img > img{
	height: 300px;
	width: 400px;
	border: 1px solid #cccccc;
}
.labels > .conteudo > .texto{
	position: relative;
	margin-left: 1.5%;
	margin-right: 1.5%;
	width: 400px;
	text-align: center;
}
.labels > .conteudo >.texto > p{
	line-height: 2;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Roboto';
}

@media(max-width: 813px){
	.labels{
		justify-content: center;
		align-items: center;
	}
	.labels > .conteudo{
		height: max-content;
		max-width: 600px;
		justify-content: center;
		align-items: center;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
	.labels > .conteudo > .img > img{
		max-width: 100%;
	}
	.labels > .dois > .texto{
		order: 2;
	}
	.labels > .quatro > .texto{
		order: 2;
	}
}