*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
header{
    background-size: 100%;
    padding: 5px 20px;
    background-color: #6e099e;
}
.conteudo-header{
    
    width: 100%;
    display: inline-block;
}
.imagem{
    display: inline-block;
}
.imagem > a > img{
    display: inline-block;
    margin:0 20px;
    width: 60px;
    height: 60px;
}
.navegacao{
    display: inline;
}
.navegacao > ul {
    float: right;
}
.navegacao > ul > li > a{
    color: white;
    text-decoration: none;
}
.navegacao > ul > li{
    margin: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
}
.navegacao  > ul > li:hover{
    font-size: 15px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-bottom: 2px solid ;
}
.conteudo-pagina{
    width: 100%;
}
.conteudo-pagina > .titulo-pagina > h1{
    text-align: center;
    color: #ebd026;
    font-size: 75px;
    font-family: 'Permanent Marker', cursive;
}
.conteudo-pagina > .imagem-home{
    width: 50%;
    display: inline-block;
}
.conteudo-pagina > .imagem-home > img{
    width: 575px;
    height: 397px;
}
.conteudo-pagina > .slogan{
    margin-top: 50px;
    width: 50%;
    display: inline-block;
    float: right;
    clear: both;
}
.conteudo-pagina > .slogan > p{
    font-family: 'Roboto', sans-serif;
    line-height: 4ch;
    font-weight: bold;
    text-align: center;
    margin: 100px 80px;
    font-size: 20px;
}
.conteudo-pagina > .slogan > a{
    padding-bottom: 50px;
}
.conteudo-pagina > .slogan > a > button{
    position: relative;
    bottom: 90px;
    left: 70px;
    text-align: center;
    color: white;
    font-weight: bolder;
    width: 170px;
    height: 46px;
    margin: 0 170px;
    /*background-color: #a71aeb;*/
    background-image: linear-gradient(to right,#a71aeb, #317beb);
    border: 1px solid;
    border-radius: 20px;
}

.rodape{
    background-size: 100%;
    background-color: #6e099e;
    color: #ffffff;
    position: relative;
    font-family: 'verdana';
}
.rodape > h3{
    color: #fffff;
    font-size: 20px;
    margin-left: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.rodape > p{
    color: #fffff;
    font-size: 15px;
    margin-left: 46%;
}
.rodape > hr{
    position: relative;
    left: 5%;
    right: 5%;
    width: 90%;
    color: #fffff;
}
.rodape > #redes-sociais{
    display: inline-block;
    float: right;
}