.conteudo-pagina{
    width: 100%;
}
.conteudo-pagina > .imagem-home{
    width: 50%;
    display: inline;
}
.conteudo-pagina > .imagem-home > img{
   width: 500px;
   height: 400px;
}
.conteudo-pagina > .slogan{
    margin-top: 50px;
    width: 50%;
    display: inline-block;
}
.conteudo-pagina > .slogan > h1{
    left: 10px;
    text-decoration-line: underline;
    text-align: center;
    color: #7413ac;
    font-size: 120px;
    font-family: 'Bangers', cursive;

}
.conteudo-pagina > .slogan > p{
    position: relative;
    right: 30px;
    font-family: 'Roboto', sans-serif;
    line-height: 2ch;
    font-weight: bold;
    text-align: center;
    margin: 100px 80px;
    font-size: 20px;
}
.conteudo-pagina > slogan > a{
    text-align: center;
}
.conteudo-pagina > .slogan > a > button{
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bolder;
    width: 170px;
    height: 46px;
    margin: 0 170px;
    background-image: linear-gradient(to right,#a71aeb, #317beb);
    border: 1px solid;
    border-radius: 20px;
}
.conteudo-pagina > .proxima-sessao{
    height: 48px;
    text-align: center;
}
.conteudo-pagina > .proxima-sessaoa > a{
    width: 100%;
}
.conteudo-pagina > a > i{
    padding-top: 5px;
    color: teal;
    text-align: center;
    width: 48px;
    height: 48px;
}

.info > .carac{
  display: inline-block;
  box-shadow: 5px 0px 3px #cccccc;
  margin-top: 50px;
  text-align: center;
  width: 33.3%;
  height: auto;
  margin-bottom: 20px;
}
.info > .carac:nth-of-type(3){
    padding-right: -4px;
}
.info > .carac > img{
    width: 200px;
    height: 200px;
}
.info > .carac > p{
    padding: 0 50px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}