*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
header{
    background-size: 100%;
    padding: 5px 20px;
    background-color: #300453;
    c
}
.conteudo-header{
    width: 100%;
    display: inline-block;
}
.imagem{
    display: inline-block;
}
.imagem > a > img{
    display: inline-block;
    margin:0 20px;
    width: 60px;
    height: 60px;
}
.navegacao{
    display: inline;
}
.navegacao > ul {
    float: right;
    clear: both;
}
.navegacao > ul > li > a{
    color: white;
    text-decoration: none;
}
.navegacao > ul > li{
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
}
.navegacao  > ul > li:hover{
    font-size: 15px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-bottom: 2px solid ;
}
.conteudo-pagina{
    width: 100%;
}

.conteudo-pagina > .imagem-home{
    width: 50%;
    display: inline;
}
.conteudo-pagina > .imagem-home > img{
    width: 575px;
    height: 397px;
}
.conteudo-pagina > .slogan{
    margin-top: 50px;
    width: 50%;
    display: inline-block;
}
.conteudo-pagina > .slogan > h1{
    left: 10px;
    text-decoration-line: underline;
    text-align: center;
    color: #7413ac;
    font-size: 120px;
    font-family: 'Bangers', cursive;

}
.conteudo-pagina > .slogan > p{
    position: relative;
    right: 30px;
    font-family: 'Roboto', sans-serif;
    line-height: 2ch;
    font-weight: bold;
    text-align: center;
    margin: 100px 80px;
    font-size: 20px;
}
.conteudo-pagina > .slogan form{
    position: relative;
    text-align: center;
}
.conteudo-pagina > .slogan form > button{
    cursor: pointer;
    position: relative;
    bottom: 90px;
    right: 60px;
    text-align: center;
    color: white;
    font-weight: bolder;
    width: 170px;
    height: 46px;
    margin: 0 170px;
    /*background-color: #a71aeb;*/
    background-image: linear-gradient(to right,#a71aeb, #317beb);
    border: 1px solid;
    border-radius: 20px;
}
.conteudo-pagina > .proxima-sessao{
    height: 48px;
    text-align: center;
}
.conteudo-pagina > .proxima-sessaoa > a{
    width: 100%;
}
.conteudo-pagina > a > i{
    padding-top: 5px;
    color: teal;
    text-align: center;
    width: 48px;
    height: 48px;
}
.info > .carac{
    box-shadow: 5px 0px 3px #cccccc;
    position: relative;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
    width: 33%;
    height: 319px;
    margin-bottom: 20px;
}
.info > .carac > img{
    width: 200px;
    height: 200px;
}
.info > .carac > p{
    position: absolute;
    padding: 0 50px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.rodape{
    background-size: 100%;
    background-color: #886D8C;
    color: #ffffff;
    font-family: 'Roboto';
    height: 160px;
}
.rodape > h3{
    color:  #ffffff;
    font-size: 20px;
    margin-left: 50%;
    position: relative;
    top: 10px;
    margin-bottom: 15px;
}
.rodape > p{
    color:  #ffffff;
    font-size: 15px;
    margin-left: 46%;
}
.rodape > hr{
    position: relative;
    left: 5%;
    right: 5%;
    width: 90%;
    border-color:  #ffffff;
}
.rodape > #redes-sociais{
    position: relative;
    right: 10px;
    top: 5px;
    display: inline-block;
    float: right;
}
.rodape > #redes-sociais > a > i{
    position: relative;
}
.rodape >i{
    position: relative;
    left: 5px;
    margin-top: 20px;
}